In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

# Reading the data
df = pd.read_excel("demand-plan-design-data.xlsx")
print(df.shape)
print(df.info())

(401720, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401720 entries, 0 to 401719
Data columns (total 11 columns):
Date                    401720 non-null datetime64[ns]
Store                   401720 non-null object
Warehouse               401720 non-null object
Product_ID              401720 non-null int64
Product_category        401720 non-null object
Product_Sub_Category    401720 non-null object
Product_SKU             401720 non-null object
sales                   401720 non-null int64
channel                 401720 non-null object
Location                401720 non-null object
Location_Code           401720 non-null object
dtypes: datetime64[ns](1), int64(2), object(8)
memory usage: 33.7+ MB
None

In [2]:
df.describe()

          Product_ID          sales
count  401720.000000  401720.000000
mean      111.500000      54.459422
std         6.344297      29.629829
min       101.000000       0.000000
25%       106.000000      31.000000
50%       111.500000      50.000000
75%       117.000000      73.000000
max       122.000000     231.000000

In [3]:
limit=df['Product_ID'].max()
mue=df['Product_ID'].mean()
sigm=df['Product_ID'].std()

In [4]:
k=limit-mue

In [5]:
k=k/sigm
print (k)

1.655029793168721

In [6]:
k=k*k
print (k)

2.7391236162760992

In [7]:

exp=100/(k)

In [8]:
print (exp)

36.50802738722405